/* .carousel-item {
   padding-bottom: 5px;
   width: 300px;
}
.friend-like-container {
   height: fit-content;
}

.friends-likes {
   max-height: 60vh;
   overflow: hidden;
}

.likedRestaurants, .friends {
   max-height: 60vh;
   overflow-y: auto;
   overflow-x: hidden;
}

#mypage-bar {
   background-color: darkred;
   color: white;
}


.carousel-control-prev {
   background-color: black;
   height: 80px;
}
.carousel-control-next {
   background-color: black;
   height: 80px;
} */