@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


:root {
	--bg-red: rgba(100, 0, 0, 0.85);
}

@layer components {
	/* Centered white semi-rounded container */
	.center-white-container {
		@apply grid place-items-center h-screen rounded-lg bg-white;
	}
	/* Centered semi-rounded container */
	.center-round-container {
		@apply grid place-items-center h-screen rounded-full;
	}
	/* NavBar */
	.icon {
		@apply rounded-full h-10 w-10 text-white;
	}
	/* Buttons */
	.button {
		@apply rounded-full p-2 text-black hover:text-white bg-white/90 hover:bg-red-900/80 hover:border shadow-md shadow-red-900;
	}

	.account-button {
		@apply rounded-full p-2 text-white hover:text-black bg-red-900/80 hover:bg-white/90 hover:border shadow-md shadow-black;
	}

	/* Input boxes */
	.input {
		@apply shadow-sm bg-gray-500/80 focus:bg-white/90 placeholder-white focus:placeholder-gray-600 text-zinc-900 focus:outline-none indent-2.5 rounded-full p-1;
	}
}

* {
	/* font-family: DegularRegular; */

	/* background: rgb(0, 100, 0, .2); */
}

body {
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */

	height: 100vh;
	width: 100vw;
	background-image: url('./assets/homeBgImage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#root {
	height: 100%;
	width: 100%;
}

.App {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
}

main {
	grid-row: 2 / span 11;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
}

.nav-dropdown,
.dropdown-toggle::after {
	display: none;
}

.nav-title {
  font-family: 'Rubik Mono One', sans-serif;
}

/* .nav-title {
	font-family: DegularBlack;
	font-size: 2rem;
	letter-spacing: 3px;
} */

/* Class name goes on wrapper div */
.profile-image {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	padding: 0px;
	margin: auto;
}
/* Targets image inside wrapper div */
.profile-image img {
	border-radius: 50%;
	width: auto;
	height: 100%;
}

.page-container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: auto;
}

.user {
	align-self: end;
}

.chat-message {
	width: 60%;
}
