@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Rubik+Mono+One&display=swap');

:root {
	--main-bg: rgba(100, 0, 0, 0.8);
	--modal-bg: rgba(50, 50, 50, 0.8);
	--scroll-thumb: rgba(140, 0, 0, 0.8);
}

@layer components {
	/* Scrollbar */
	.scroll::-webkit-scrollbar {
		@apply w-3;
	}

	.scroll::-webkit-scrollbar-thumb {
		background-color: var(--scroll-thumb);
		@apply rounded-full;
	}

	.scroll::-webkit-scrollbar-track-piece {
		background-color: var(--modal-bg);
		@apply rounded-full;
	}

	.scroll::-webkit-scrollbar-track-piece:start {
		margin-top: 15px;
	}
	.scroll::-webkit-scrollbar-track-piece:end {
		margin-bottom: 15px;
	}

	/* Background colors */
	.main-bg {
		background-color: var(--main-bg);
		@apply rounded-2xl;
	}

	.modal-bg {
		background-color: var(--modal-bg);
	}

	.white-bg {
		@apply bg-white/90
	}

	/* Modals - s on the end is to avoid conflict with existing bootstrap classes, remove if bootstrap is uninstalled */
	.modals {
		@apply h-screen w-screen fixed z-10 top-0 left-0 bg-black/40 overflow-hidden;
	}

	.modals-content {
		background-color: var(--modal-bg);
		/* max-height: 80%; */
		@apply p-8 border max-h-[80%] w-4/5 max-w-5xl mt-36 mx-auto rounded-2xl scroll;
	}
	
	.centered {
		@apply row-span-5 grid place-items-center;
	}
	
	.flex-centered {
		@apply items-center justify-center;
	}
	
	.round {
		@apply rounded-[50%];
	}

	.vertical {
		@apply flex flex-col;
	}

	.horizontal {
		@apply flex flex-row;
	}
	.user {
		@apply self-end;
	}

	/* Page containers */
	.invite-container {
		@apply main-bg text-white h-[600px] w-[600px] rounded-full flex flex-col justify-center items-center space-y-4;
	}
	.page-container {
		@apply flex flex-col max-w-[800px] m-auto;
	}
	
	.start-container {
		@apply flex flex-col justify-center row-start-2 mx-auto rounded-2xl;
	}
	/* Images */
	.restaurant-image {
		@apply h-[150px] w-[150px] object-cover rounded-[5px];
	}

	/* Icons */
	.icon {
		@apply rounded-full h-10 w-10 text-white;
	}

	/* Buttons */
	.button {
		@apply h-11 w-40 font-normal rounded-full p-2 text-black hover:text-white bg-white/90 hover:bg-red-900/80 shadow-md shadow-red-900;
	}

	.account-button {
		@apply h-11 rounded-full p-2 text-white hover:text-black bg-red-900 hover:bg-white/90 hover:border shadow-md shadow-black mx-auto;
	}

	.outreach-button {
		@apply w-40 font-normal rounded-full p-2 text-black hover:text-white bg-white/90 hover:bg-red-900/80 shadow-md shadow-red-900;
	}

	/* Input boxes */
	.input {
		@apply shadow-sm border border-white bg-gray-500/80 focus:bg-white/90 placeholder-white focus:placeholder-gray-400 text-white focus:text-zinc-900 focus:outline-none indent-2.5 rounded-full p-1 font-normal;
	}

	.account-input {
		@apply w-full mx-auto text-sm md:text-sm;
	}

	input[type='checkbox'] {
		@apply mr-1 border;
	}

	input[type='checkbox']:checked {
		@apply appearance-none bg-black border-white h-3 w-3;
	}

	select,
	input[type='date'],
	input[type='time'] {
		@apply border rounded text-center text-black;
	}

	/* Arrows */
	.arrow {
		@apply h-14 w-14 border-gray-500/80 border-r-4 border-b-4 rounded;
	}

	.right {
		transform: rotate(-45deg);
	}

	.left {
		transform: rotate(135deg);
	}

	/* Effects */
	.friend-invited {
		@apply bg-red-600/50 rounded-2xl border p-1;
	}

	.hover-nav {
		@apply hover:text-red-800 hover:font-normal;
	}

	.focus-nav {
		@apply focus:bg-red-400/50 w-full
	}
	/* Messages/Message/MessageChat */
	.chat-message {
		@apply w-[60%]
	}
}

/* Class name goes on wrapper div */
.user-image {
	@apply w-[50px] h-[50px] inline-block relative overflow-hidden object-cover m-auto;
}

@media (max-width: 768px) {
	.user-image {
		@apply w-[65px] h-[65px] inline-block relative overflow-hidden object-cover m-auto;
	}
}
/* Targets image inside wrapper div */
.user-image img {
	@apply rounded-[50%] w-auto h-full;
}


body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	height: 100vh;
	width: 100vw;
	background-image: url('./assets/homeBgImage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.home-header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.nav-title {
	font-family: 'Rubik Mono One', sans-serif;
}

#root {
	height: 100%;
	width: 100%;
}

.App {
	display: grid;
	grid-template-rows: repeat(12, 1fr);
}

main {
	grid-row: 2 / span 11;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
}

.nav-dropdown,
.dropdown-toggle::after {
	display: none;
}

.message-backdrop:hover {
	background-color: rgba(100, 0, 0, 0.8);
	opacity: 0.5;
	padding: 10px;

}
/* Removing styling around Bootstrap modal */
.modal-content {
	background-color: transparent;
}

