@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: DegularRegular;
  src: url(../fonts/DegularDemo-Regular.otf);
}

@font-face {
  font-family: DegularBlack;
  src: url(../fonts/DegularDisplayDemo-Black.otf);
}


* {
  font-family: DegularRegular;
  
  /* background: rgb(0, 100, 0, .2); */
}



html, body {
  /* margin: 0px;
  padding: 0px; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-dropdown .dropdown-toggle::after {
  display: none;
}

.nav-title {
  font-family: DegularBlack;
  font-size: 2rem;
  letter-spacing: 3px;
}
